
<div class="wrapper"> 
    <div class="menu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="componente">
        <app-navbar></app-navbar>

        <h1>Sucursal<h3>Pedidos Entregados</h3></h1><br>    
        <div class="container">
               <!-- <div *ngFor="let sucursal of infoIdSucursal">{{sucursal.stock_sucursal}}</div>-->
               <table class="table">
                <thead class="thead-Primary">
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha entrega</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total a pagar</th>
                        <th scope="col">Estado</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entreSucursal of PedidosEntregadosSucursal">
                        <td>{{entreSucursal.nombre_usuario}} {{entreSucursal.apellido_usuario}}</td>
                        <td>{{entreSucursal.fecha_entrega_pedido | date:'dd-MM-yyyy'}}</td>
                        <td>{{entreSucursal.cantidad_pedido}}</td>
                        <td>$ {{entreSucursal.total}} Dolares</td>
                        <td>{{entreSucursal.estado_pedido}}</td>

                    </tr>
                </tbody>
            </table>
                                          
                     
            

            <div> 
        

    

        </div>

        </div>


    </div>
</div>
      



