
<div class="wrapper"> 
    <div class="menu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="componente">
        <app-navbar></app-navbar>

        <h1>Clientes</h1><br>  
        <div class="container">
            <div>
                <button type="button" class="btn btn-primary" (click)="agregarCliente(contentCliente,null)">AGREGAR</button>
            </div><br>
            <table class="table">
                <thead class="thead-Primary">
                    <tr>
                        <th scope="col">ROL</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">CÉDULA</th>
                        <th scope="col">TELÉFONO</th>
                        <th scope="col">DIRECCIÓN</th>
                        <th scope="col">CORREO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usu of usuarios">
                        <td>{{usu.id_rol}}</td>
                        <td>{{usu.nombre_usuario}}</td>
                        <td>{{usu.apellido_usuario}}</td>
                        <td>{{usu.cedula_usuario}}</td>
                        <td>{{usu.telefono_usuario}}</td>
                        <td>{{usu.direccion_usuario}}</td>
                        <td>{{usu.correo_usuario}}</td>
                        <td>
                            <button class="btn btn-warning ml-1 btn-sm text-white" title="Actualizar" (click)="agregarCliente(contentCliente,usu)" title="Actualizar" *ngIf="usu.id_usuario != usuario.id_usuario"><i class="fa fa-pencil"
                                    aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

<!----->
<ng-template #contentCliente let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="row">
            <h3 class="col-12 text-center" name="titulo">Cliente</h3>
        </div>
    </div>
    <div class="modal-body">
<form name="USUARIOS" method="POST" #f="ngForm">
    <div class="row">
        <div class="col-md-6">
            <label for="nombre">Nombre</label>
      <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="usuarioSeleccionado.nombre_usuario" placeholder="Nombre">
        </div>
        <div class="col-md-6">
            <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="usuarioSeleccionado.apellido_usuario" placeholder="Apellido">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="cedula">Cédula</label>
            <input type="text" class="form-control" id="cedula" name="cedula" [(ngModel)]="usuarioSeleccionado.cedula_usuario" placeholder="Cédula">
        </div>
        <div class="col-md-6">
            <label for="telefono">Teléfono</label>
      <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="usuarioSeleccionado.telefono_usuario" placeholder="Télefono">
        </div>
    </div>
    <div class="form-group">
      <label for="correo">Correo</label>
      <input type="text" class="form-control" id="correo" name="correo" [(ngModel)]="usuarioSeleccionado.correo_usuario" placeholder="Correo">
    </div>
    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="usuarioSeleccionado.direccion_usuario" placeholder="Dirección">
    </div>
   <div class="row">
    <div class="col-md-6">
        <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="usuarioSeleccionado.password_usuario" placeholder="Password">
    </div>
    <div class="col-md-6">
        <label for="rol">Rol</label>
        <select name="rol" id="rol" [(ngModel)]="usuarioSeleccionado.id_rol" class="form-control">
          <option value="1">ADMINISTRADOR</option>
          <option value="2">SUCURSAL</option>
      </select>
    </div>
   </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('save')" [disabled]="f.form.invalid"><i class="fa fa-check" aria-hidden="true">&nbsp; Ok</i></button>
        <button type="button" class="btn btn-danger" (click)="c('close')"><i class="fa fa-times-circle" aria-hidden="true">&nbsp; Cerrar</i></button>
    </div>
  </form>
    </div>
</ng-template>
    </div>
</div>
      



