.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
  }

  .componente { 
    grid-column: 2 / 9;
    grid-row: 0 ;
  }
  .menu {
    grid-column: 0;
    grid-row: 0;
    
  }