
<div class="wrapper"> 
    <div class="menu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="componente">
        <app-navbar></app-navbar>

        <h1>Sucursales</h1><br>  
        <div class="container">
            <div> 
        

              <div class="row justify-content-around">
                <div class="col-6" *ngFor="let cli of todo">
                    <article class="articles">
                        <button routerLink="/realizarPedidosCli/{{cli[1]['id_usuario']}}/{{cli[0]['id_sucursal']}}/{{cli[0]['id_producto']}}">Pidelo ya!!</button> 

                        <h2>{{cli[0]['nombre_sucursal']}}</h2>              
                        <h5>Direccion: </h5>
                        <p>{{cli[0]['direccion_sucursal']}}</p>
                        <h5>Contactos</h5>
                        <p>{{cli[0]['correo_sucursal']}} // {{cli[0]['telefono_sucursal']}}</p>
                        <h3>Precio: ${{cli[0]['precio_producto']}}  -  Stock: {{cli[0]['stock_sucursal']}}</h3>  
                    </article>
                </div>
              
              </div>

        </div>

        </div>


    </div>
</div>
      



