
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <br>
      <br>
      <br>
      <div class="container">
        <a class="navbar-brand" href="#"><strong>QuitoGas-GAS</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
            </li>
         
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Inicio Sesión</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
<body class="text-center">
    <section class="view intro-2 rgba-gradient">
        <div class="full-bg-img">
          <div class="container flex-center">
    <form  [formGroup]="loginForm" class="form-signin" method="POST" #f="ngForm">
        <h1 class="text-white">LOGIN</h1>
        <label for="inputEmail" class="sr-only">Correo</label>
        <input formControlName="correo" type="email" id="inputEmail" class="form-control" placeholder="Correo" name="usuario" [(ngModel)]="logeos.correo_usuario" required autofocus>
        <div class="alert-danger" *ngIf="correo.invalid &&(correo.dirty || correo.touched)">
            <div class="container-error-mensage " *ngIf="correo.errors.required">
                se necesita tener este campo
            </div>
            <div class="container-error-mensage "
             *ngIf="(correo.dirty || correo.touched) &&
             correo.errors.pattern">
                comprobar caracteristicas
            </div>
        </div>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <div>
            <div class="input-group mb-3">
                <input  formControlName="password" [type]="hide ? 'password': 'text'" id="inputPassword" class="form-control" placeholder="Contraseña"
                    name="password" [(ngModel)]="logeos.password_usuario" required>
                <div class="input-group-append">         
                <button  class="btn btn-primary" (click)="hide =!hide">
                {{hide ? 'mostrar': 'ocultar'}}
                </button>
                </div>
            </div>
            <div class="alert-danger" *ngIf="password.invalid &&(password.dirty || password.touched)">
                <div class="container-error-mensage " *ngIf="password.invalid">
                    Campo requerido
                </div>
            </div>
        </div>
      
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="loginFuction()" [disabled]="!loginForm.valid">Iniciar Sesión</button>
        <div class="container">
            <div class="row">
                <div class="col-md-6"> 
                    <a  class="text-white" [routerLink]="['/registro']">REGISTRESE</a>
                </div>
                <div class="col-md-6">
                    <a  class="text-white" [routerLink]="['/home']">ATRAS</a>
                </div>
            </div>
           
        </div>
    </form>
            </div>
          </div>
    </section>
</body>
