
<div class="wrapper"> 
    <div class="menu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="componente">
        <app-navbar></app-navbar>

        <h1>Cliente <h3>Pedidos entregados</h3></h1><br>  
        <div class="container">

            <table class="table">
                <thead class="thead-Primary">
                    <tr>
                        
                        <th scope="col">Fecha entrega</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total a pagar</th>
                        <th scope="col">Estado</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let cli of pedidosEntregadosCliente">
                        <td>{{cli.fecha_entrega_pedido | date:'dd-MM-yyyy'}}</td>
                        <td>{{cli['cantidad_pedido']}}</td>
                        <td>$ {{cli['total']}}</td>
                        <td>{{cli['estado_pedido']}}</td>

                    </tr>
                </tbody>
            </table>
            <div> 
        

    

        </div>

        </div>


    </div>
</div>
      



