<div class="wrapper">
    <div class="menu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="componente">
        <app-navbar></app-navbar>

        <h1>SUCURSAL</h1><br>
        <div class="container">
            <div>
                <button type="button" class="btn btn-primary" (click)="agregarSucursal(contentSucursal,null)">AGREGAR</button>
            </div><br>
            <table class="table"> 
                <thead class="thead-Primary">
                    <tr>
                        <th scope="col">NOMBRE USUARIO</th>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col">NOMBRE SUCURSAL</th>
                        <th scope="col">DIRECCIÓN</th>
                        <th scope="col">TELÉFONO</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">STOCK</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sucu of sucursales">
                        <td>{{sucu["nombre_usuario"]}}&nbsp;{{sucu["apellido_usuario"]}}</td>
                        <td>{{sucu["nombre_producto"]}}</td>
                        <td>{{sucu.nombre_sucursal}}</td>
                        <td>{{sucu.direccion_sucursal}}</td>
                        <td>{{sucu.telefono_sucursal}}</td>
                        <td>{{sucu.correo_sucursal}}</td>
                        <td>{{sucu.stock_sucursal}}</td>
                        <td>
                            <button class="btn btn-warning ml-1 btn-sm text-white" title="Actualizar" (click)="agregarSucursal(contentSucursal,sucu)"  *ngIf="sucu.id_sucursal != sucursal.id_sucursal" title="Actualizar"><i class="fa fa-pencil"
                                    aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

       
<ng-template #contentSucursal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="row">
            <h3 class="col-12 text-center" name="titulo">GAS</h3>
        </div>
    </div>
    <div class="modal-body">
<form name="SUCURSAL" method="POST" #f="ngForm">
    <div class="row">
        <div class="col-md-6">
            <label for="nombre">Nombre Usuario</label>
            <select name="nombre"  [(ngModel)]="sucursalSeleccionado.id_usuario" class="form-control">
                <option value="{{item.id_usuario}}" *ngFor="let item of usuSucursal">{{item["nombre_usuario"]}}&nbsp;{{item["apellido_usuario"]}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="producto">Producto</label>
            <select   [(ngModel)]="sucursalSeleccionado.id_producto" class="form-control" name="producto">
                <option value="{{pro.id_producto}}" *ngFor="let pro of producto">{{pro.nombre_producto}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="nombre_sucursal">Nombre Sucursal</label>
            <input type="text" class="form-control"  name="Nombre_sucusral"
                [(ngModel)]="sucursalSeleccionado.nombre_sucursal" placeholder="Nombre Sucursal">
        </div>
        <div>
            <label for="telefono">Teléfono</label>
            <input type="text" class="form-control"  name="telefono"
                [(ngModel)]="sucursalSeleccionado.telefono_sucursal" placeholder="Teléfono">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control"  name="direccion"
                [(ngModel)]="sucursalSeleccionado.direccion_sucursal" placeholder="Dirección">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="correo">Correo</label>
            <input type="text" class="form-control"  name="correo"
                [(ngModel)]="sucursalSeleccionado.correo_sucursal" placeholder="Correo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="stock">Stock</label>
            <input type="number" class="form-control"  name="stock"
                [(ngModel)]="sucursalSeleccionado.stock_sucursal" placeholder="Stock">
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('save')" [disabled]="f.form.invalid"><i class="fa fa-check" aria-hidden="true">&nbsp; Ok</i></button>
        <button type="button" class="btn btn-danger" (click)="c('close')"><i class="fa fa-times-circle" aria-hidden="true">&nbsp; Cerrar</i></button>
    </div>
  </form>
    </div>
</ng-template>
    </div>
</div>

