<div class="wrapper">
    <div class="menu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="componente">
        <app-navbar></app-navbar>

        <h1>SUCURSAL</h1><br>
        <div class="container">
            <div>
                <button type="button" class="btn btn-primary" (click)="agregarSucursal(contentSucursal,null)">AGREGAR</button>
            </div><br>
            <table class="table"> 
                <thead class="thead-Primary">
                    <tr>
                        <th scope="col">NOMBRE USUARIO</th>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col">NOMBRE SUCURSAL</th>
                        <th scope="col">DIRECCIÓN</th>
                        <th scope="col">TELÉFONO</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">STOCK</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sucu of sucursales">
                        <td>{{sucu["nombre_usuario"]}}&nbsp;{{sucu["apellido_usuario"]}}</td>
                        <td>{{sucu["nombre_producto"]}}</td>
                        <td>{{sucu.nombre_sucursal}}</td>
                        <td>{{sucu.direccion_sucursal}}</td>
                        <td>{{sucu.telefono_sucursal}}</td>
                        <td>{{sucu.correo_sucursal}}</td>
                        <td>{{sucu.stock_sucursal}}</td>
                        <td>
                            <button class="btn btn-warning ml-1 btn-sm text-white" title="Actualizar"  title="Actualizar"><i class="fa fa-pencil"
                                    aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

       
<ng-template #contentSucursal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="row">
            <h3 class="col-12 text-center" name="titulo">GAS</h3>
        </div>
    </div>
    <div class="modal-body">
<form name="SUCURSAL" method="POST" #f="ngForm">
    <div class="row">
        <div class="col-md-6">
            <label for="nombre">Nombre Usuario</label>
      <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="sucursalSeleccionado.nombre_sucursal" placeholder="Nombre">
        </div>
        <!-- <div class="col-md-6">
            <label for="precio">Precio</label>
      <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="productoSeleccionado.precio_producto" placeholder="Precio">
        </div> -->
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('save')" [disabled]="f.form.invalid"><i class="fa fa-check" aria-hidden="true">&nbsp; Ok</i></button>
        <button type="button" class="btn btn-danger" (click)="c('close')"><i class="fa fa-times-circle" aria-hidden="true">&nbsp; Cerrar</i></button>
    </div>
  </form>
    </div>
</ng-template>
    </div>
</div>

