
<div class="wrapper"> 
    <div class="menu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="componente">
        <app-navbar></app-navbar>

        <h1>Confirmacion de entrega</h1><br> 
        
        
        <div class="container articles">
              <p>Estas seguro de que quieres cofirmar la entrega?</p> 
             <button class="button" (click)="confirmarPedido()">Si</button>
             <button class=" button buttonNo" (click)="volver()">No</button>
        <div> 
        

    

        </div>

        </div>


    </div>
</div>
      



