<body>
  <router-outlet></router-outlet>
  <div class="d-flex" id="wrapper">
    
    <div class="bg-primary border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"> <div class="text-white">QuitoGas</div> </div>
      <div class="list-group list-group-flush" routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
        <a  class="list-group-item list-group-item-action bg-primary text-white" [routerLink]="[menuItem.path]">
          <i class="{{menuItem.icon}}"></i>&nbsp;&nbsp;{{menuItem.title}}
        </a>
      </div>
    </div>
  </div>
</body>

 
 

