
<router-outlet></router-outlet>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <div class="sidebar-heading text-center text-white"><b>QUITOGAS</b></div>
      <hr>
    <div  class="list-group-flush" routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
      <li class="sidebar-brand">
      <a class="list-group-item  bg-primary" [routerLink]="[menuItem.path]">
          <i class="{{menuItem.icon}}"></i>&nbsp;&nbsp;{{menuItem.title}} 
      </a>
    </li>
    </div>
  </ul>
  </div>
</div>

 
 

