 <!--Navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <br>
    <br>
    <br>
    <div class="container">
      <a class="navbar-brand" href="#"><strong>QuitoGas-GAS</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']">Inicio </a>
          </li>
       
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']">Inicio Sesión</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<body class="text-center">
    <section class="view intro-2 rgba-gradient">
        <div class="full-bg-img">
          <div class="container flex-center">
    <form  [formGroup]="registroForm" class="form-signin" method="POST" #f="ngForm">
        <h1 class="text-white">REGISTRO</h1>
        <input type="text" formControlName="nombre" class="form-control" name="nombre" [(ngModel)]="usuarioSeleccionado.nombre_usuario" placeholder="Nombres" required >
        <div class="alert-danger" *ngIf="nombre.invalid &&(nombre.dirty || nombre.touched)">
            <div class="container-error-mensage " *ngIf="nombre.invalid">
                verifica tu Nombre
            </div>
        </div>

        <input type="text" formControlName="apellido" class="form-control" name="apellido"  [(ngModel)]="usuarioSeleccionado.apellido_usuario" placeholder="Apellidos" required >
        
        <input type="number" formControlName="cedula" class="form-control" name="cedula" [(ngModel)]="usuarioSeleccionado.cedula_usuario" placeholder="Cédula" required >
       
        <input type="number" formControlName="telefono" class="form-control" name="telefono"  [(ngModel)]="usuarioSeleccionado.telefono_usuario" placeholder="Teléfono" required >
        <div>
            <input type="text" formControlName="direccion" class="form-control" name="direccion" [(ngModel)]="usuarioSeleccionado.direccion_usuario" placeholder="Dirección" required >
            <!-- <google-map width="470" height= "200" [center] = "position">
            </google-map> -->
   
        </div>
        
       
        <input type="email" formControlName="correo" class="form-control" name="correo"  [(ngModel)]="usuarioSeleccionado.correo_usuario" placeholder="Correo" required >
    
        <input type="password" formControlName="password" class="form-control"name="password"  [(ngModel)]="usuarioSeleccionado.password_usuario" placeholder="Contraseña" required >
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="postUsuario()"[disabled]="f.form.invalid" >Aceptar</button>
    </form>
            </div>
          </div>
    </section>
</body>