<body class="text-center">
    <section class="view intro-2 rgba-gradient">
        <div class="full-bg-img">
          <div class="container flex-center">
    <form class="form-signin" name="USUARIOS" method="POST" #f="ngForm">
        <h1 class="text-white">REGISTRO</h1>
        <input type="text" id="inputNombre" class="form-control" name="nombre" [(ngModel)]="usuarioSeleccionado.nombre_usuario" placeholder="Nombres" required autofocus>
        
        <input type="text" id="inputApellido" class="form-control" name="apellido"  [(ngModel)]="usuarioSeleccionado.apellido_usuario" placeholder="Apellidos" required autofocus>
        
        <input type="number" id="inputCedula" class="form-control" name="cedula" [(ngModel)]="usuarioSeleccionado.cedula_usuario" placeholder="Cédula" required autofocus>
       
        <input type="number" id="inputTelefono" class="form-control" name="telefono"  [(ngModel)]="usuarioSeleccionado.telefono_usuario" placeholder="Teléfono" required autofocus>
        <div>
            <input type="text" id="inputDireccion" class="form-control" name="direccion" [(ngModel)]="usuarioSeleccionado.direccion_usuario" placeholder="Dirección" required autofocus >
            <google-map width="470" height= "200" [center] = "position">
                <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.log" [label]='label'></agm-marker>
            </google-map>

            
        </div>
        
       
        <input type="email" id="inputCorreo" class="form-control" name="correo"  [(ngModel)]="usuarioSeleccionado.correo_usuario" placeholder="Correo" required autofocus>
    
        <input type="password" id="inputPassword" class="form-control"name="password"  [(ngModel)]="usuarioSeleccionado.password_usuario" placeholder="Contraseña" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="postUsuario()">Aceptar</button>
    </form>
            </div>
          </div>
    </section>
</body>