
<div class="wrapper"> 
    <div class="menu">
        <app-sidebar></app-sidebar>
    </div>
    <div class="componente">
        <app-navbar></app-navbar>

         
        <div class="container">

            <h1 class="loginH1">Bienvenido a QuitoGas</h1><br> 

            <p class="pBienvenida">Te damos la bienvenida a sistema de entrega de gas a domicilio, tu puedes relaizar tu pedido el momento en el que tu desees.
                Al mejor precio del mercado y sin salir de casa.
            </p>
            <div> 
       

        
        </div>

        </div>


    </div>
</div>
      



